<div class="menu">
  <span id="date"></span>
  <span id="time"></span>
</div>
<hr class="rounded-end">
<div class="jumbo">
  <div class="jumbo-main">
  <LinkTo @route="index"><h2 class="home">Servo Hasher</h2></LinkTo>
  <p>Identifing and Cracking Hashes since 2023</p>
  <hr class="rounded">
  <div class="buttons">
  <LinkTo @route="identifier" class="button">Identifier</LinkTo>
  <div class="divider"/>
  <LinkTo @route="identifier" class="button">Decrypter</LinkTo>
  </div>
  </div>
</div>
<hr class="rounded-end">

<h1>Decrypter</h1>