<div class="menu"></div>
<div class="jumbo">
  <div class="jumbo-main">
  <h2>Servo Hasher</h2>
  <p>Identifing and Cracking Hashes since 2023</p>
  <hr class="rounded">
  <div class="buttons">
  <LinkTo @route="hash" class="button">Hasher</LinkTo>
  <div class="divider"/>
  <button class="button">Decrypter</button>
  </div>
  </div>
</div>
<hr class="rounded-end">

<!-- hash identifier start -->
<h1>hasher test</h1>