<div class="menu">
  <span id="date"></span>
  <span id="time"></span>
</div>
<hr class="rounded-end">
<div class="jumbo">
  <div class="jumbo-main animate__animated animate__backInDown">
  <h2 class="animate__animated animate__backInDown">Servo Hasher</h2>
  <p class="animate__animated animate__backInDown">Identifing and Cracking Hashes since 2023</p>
  <hr class="rounded animate__animated animate__backInDown">
  <div class="buttons">
  <LinkTo @route="hash" class="button">Identifier</LinkTo>
  <div class="divider"/>
  <LinkTo @route="hash" class="button">Decrypter</LinkTo>
  </div>
  </div>
</div>
<hr class="rounded-end">